@model MaerskLineCMS.Models.customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerGender)
        </dt>

        <dd>
            @((bool)(ViewData.Model.customerGender) ? "Male" : "Female")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerPhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerPhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerAddressCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerAddressCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent.agentUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent.agentUsername)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
